/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');
body {
  padding: 15px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  background-color: rgb(80, 77, 67);
}
.container-images {
  display: block;
  width: 100%;
  background-color: rgb(80, 77, 67);
}
.form-img {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-top: 40px;
  padding-bottom: 32px;
  margin-left: calc(100% / 3);
}
.input-img {
  width: 272px;
  padding: 10px 16px;
  border: 1px solid #808080;
  border-radius: 8px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;
}
.input-img:hover {
  border: 1px solid #000;
}
.input-img:focus {
  outline: 2px solid #f15b1b;
  border-style: none;
}
.btn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 10px 16px;
  border-radius: 8px;
  width: 91px;
  background-color: #eb4b07;
  border-style: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: ;
}
.btn:hover {
  background-color: #f7850bf3;
}
.spinner {
  padding-top: 15px;
  padding-bottom: 15px;
}
.loader {
  font-size: 48px;
  color: #fff;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  position: relative;
  margin-left: calc(100% / 2.5);
  &.hidden {
    display: none;
  }
}

.loader:after {
  content: 'Loading';
  position: relative;
  z-index: 5;
}

.loader:before {
  content: '';
  height: 8px;
  border: 1px solid;
  border-radius: 10px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background: linear-gradient(#ff3d00 100%, transparent 0) no-repeat;
  background-size: 0% auto;
  animation: 10s lineGrow linear infinite;
}

@keyframes lineGrow {
  to {
    background-size: 100% auto;
  }
}

.list-img {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  padding: 34px 156px;
  margin: 0;
}

.list-img-item {
  width: calc((100% - 24px * 2) / 3);
  box-sizing: border-box;
  transition: transform 0.33s;
}

.list-img-item:hover,
.list-img-item:focus {
  transform: scale(1.05);
  border: #eb4b07;
}

.img-link {
  display: block;
  object-fit: cover;
}
.image-info {
  display: flex;
  flex-direction: row;
  border: 1px solid #808080;
  background-color: #fff;
  justify-content: space-around;
  padding: 4px 25px 4px 20px;
}

.text-info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.data-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #191a25;
}
